[user]
	name = RobertAKARobin
	email = contact@robertakarobin.com
[core]
	excludesfile = ~/.gitignore_global
	filemode = false
	editor = vim
	ignorecase = false
[credentials]
	username = robertakarobin
[credential]
	helper = osxkeychain
[push]
	default = simple
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[mergetool]
	prompt = false
	keepBackup = false
[difftool]
	prompt = true
[pull]
	rebase = false
[http]
	cookiefile = /Users/robertthoma/.gitcookies
