/*
!.bash_profile
!.bash_profile_local
!.bash_profile_helpers
!.vimrc
!.gitconfig
!Library
Library/*
!Library/Application\ Support
Library/Application\ Support/*
!Library/Application\ Support/Code
Library/Application\ Support/Code/*
!Library/Application\ Support/Code/User
Library/Application\ Support/Code/User/*
!Library/Application\ Support/Code/User/settings.json
